<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.siehuai.smartdrugbox">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/medicine_box_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.UserMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.UserSetReminderActivity"
            android:label="@string/title_activity_user_set_reminder"
            android:parentActivityName=".view.UserMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siehuai.smartdrugbox.view.UserMainActivity"/>
        </activity>
        <activity
            android:name=".view.UserViewMedicineTabActivity"
            android:label="@string/view_medicine"
            android:parentActivityName=".view.UserMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siehuai.smartdrugbox.view.UserMainActivity"/>
            <!--
 ATTENTION: This intent was auto-generated. Follow instructions at
  https://g.co/AppIndexing/AndroidStudio to publish your URLs.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--
                  ATTENTION: This data URL was auto-generated. We recommend that you use the HTTP scheme.
                  TODO: Change the host or pathPrefix as necessary.
                -->
                <data
                    android:host="[ENTER-YOUR-HTTP-HOST-HERE]"
                    android:pathPrefix="/userviewmedicinetab"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

        <receiver android:name=".controller.AlarmReceiver"/>

        <service
            android:name=".controller.Service.SystemAlarmService"
            android:enabled="true">
        </service>

        <activity android:name=".view.OffAlarmActivity">
        </activity>
        <activity android:name=".view.UserSetMedicine.UserSetMedicineActivity">
        </activity>
        <activity android:name=".view.UserViewMedicine.UserViewMedicineActivity">
        </activity>
    </application>

</manifest>